<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhostOps - Panel</title>
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/external/boxicons-2.1.4/css/boxicons.css">
</head>
<body>
    <div class="panel">
        <nav>
            <img class="logo" src="/assets/GhostOps.png" alt="GhostOps logo.">
            <ul>
                <li>
                    <i class='bx bxs-ghost'></i>
                    <p>Agents</p>
                </li>
                <li>
                    <i class='bx bx-broadcast'></i>
                    <p>Listeners</p>
                </li>
                <li>
                    <i class='bx bxs-bell'></i>
                    <p>Alerts</p>
                </li>
                <li>
                    <i class='bx bxs-cog'></i>
                    <p>Settings</p>
                </li>
                <li>
                    <i class='bx bxs-exit'></i>
                    <p>Logout</p>
                </li>
            </ul>
        </nav>    
    </div>

    <script src="/js/global.js"></script>
    <script src="/js/panel.js"></script>
</body>
</html>